<header id="main_navigation" class="clearfix">
  <a href="#" class="name">Neil Patel</a>
  <nav>
    <a href="articles.html">Articles</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>

<h1 id="page_title">Stuff I've Written</h1>

<div id="posts_wrapper" class="skinny_wrapper">
    <div class="post">
      <p class="date">Friday April 10th</p>
      <h2><a href="#">The DO List</a></h2>
      <hr>
    </div>

    <div class="post">
      <p class="date">Friday April 10th</p>
      <h2><a href="#">The DO List</a></h2>
      <hr>
    </div>

    <div class="post">
      <p class="date">Friday April 10th</p>
      <h2><a href="#">The DO List</a></h2>
      <hr>
    </div>

    <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a rel="next" href="#">2</a>
      <a class="next_page" href="#">Next</a>
    </div>
</div>

<footer id="main_footer">
  <p class="copyright"> &copy; 2015 Neil Patel</p>
   <nav>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
   </nav>
</footer>

