<header id="main_navigation" class="clearfix">
  <a href="#" class="name">Neil Patel</a>
  <nav>
    <a href="articles.html">Articles</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>

<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
  <label>Name</label><br>
  <input type="text">

  <br>

  <label>Email</label><br>
  <input type="text">


  <br>

  <label>Message</label><br>
  <textarea></textarea>

  <br>

  <input type="submit" value="Send Message"
  class="button">

</div>


<footer id="main_footer">
  <p class="copyright"> &copy; 2015 Neil Patel</p>
   <nav>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
   </nav>
</footer>


