<header id="main_navigation" class="clearfix">
  <a href="#" class="name">Neil Patel</a>
  <nav>
    <a href="#">Articles</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>

<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 homepage_content">
      <h2>About</h2>
      <hr>
      <p>Bacon ipsum dolor amet boudin  &amp;brisket ham, rump kevin venison t-bone landjaeger. Ball tip ham hock landjaeger, </p> porchetta kevin cupim rump pork loin leberkas. <p>Chicken capicola corned beef andouille ribeye spare ribs bresaola frankfurter pancetta alcatra short ribs pastrami beef short loin.</p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <h3>The Do list</h3>
    <p class="date">Friday April 18th</p>
    <h3>How do I learn "X"? </h3>
    <p class="date">Friday April 18th</p>
    <h3>Strive for the uncomfortable</h3>
    <p class="date">Friday April 18th</p>
  </div>

  <div clas="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3>Unicasts</h3>
    <p class="date">Friday April 18th</p>
    <h3>How do I learn "X"? </h3>
    <p class="date">Friday April 18th</p>
    <h3>12 in 12 challenge</h3>
    <p class="date">Friday April 18th</p>

  </div>
</div>
